---
import SocialLinks from "./SocialLinks.astro";
---

<footer class="site-footer">
  <a class="brand footer-brand" href="/" aria-label="ARKAI Studio home">
    <img
      class="brand-mark footer-brand-mark"
      src="/assets/brand/arkai-logo.png"
      alt=""
      width="1200"
      height="752"
    />
    <img
      class="brand-wordmark footer-brand-wordmark"
      src="/assets/brand/arkai-wordmark-white.png"
      alt=""
      width="2400"
      height="213"
    />
  </a>
  <SocialLinks className="footer-social" />
</footer>
